[mysqld]
sql-mode="STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
max_allowed_packet=1024M
#innodb_force_recovery=1
key_buffer_size=1024M
read_buffer_size=10M